body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #202020;
}

.main {
  width: 100%;
  max-width: 600px;
  position: relative;
  margin: 0 auto;
}
.slider {
  position: relative;
  overflow: hidden;
  
}
.container {
  display: flex;
  transform: transition 0.5s ease;
}
.planeta {
  min-width: 100%;
  flex: 0 0;
  text-align: center;
}
.planeta h1 {
  height: 50px;
  font-family: cursive;
  font-style: italic;
  font-size: 2em;
  color: white;
  text-align: center;
}
.planeta img {
  border-radius: 20px ;

  background-size: cover;
  background-position: center;
}
.planeta p {
  font-style: italic;
  font-size: 1.5em;
  color: white;
}
 
.leftArrow {
  position: absolute;
  top: 55%;
  transform: translate(0, -280%);
  left: 10px;
  font-size: 50px;
  font-weight: 700;
  color: aliceblue;
  z-index: 1;
  cursor: pointer;
}
.rightArrow {
  position: absolute;
  top: 55%;
  transform: translate(0, -280%);
  right: 10px;
  font-size: 50px;
  font-weight: 700;
  color: aliceblue;
  z-index: 1;
  cursor: pointer;
}
.puntos {
  display: flex;
  justify-content: center;
  margin-top: -80px;
}
.puntos-item {
  margin: 0 5px;
  cursor: pointer;
  font-size: 12px;
  text-align: center;
  color: #ccc;
}
.active {
  background: #ccc;
  width: 15px;
  height: 15px;
  border-radius: 50%;
}